* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: black;
    margin: 0;
    display: grid;
    font-family: system-ui;
    place-items: center;
    min-height: 100vh;
}